@import "../../variables";

.download-catalog-form__white-link {
	color: #fff;
	transition: color .3s;
}

.download-catalog-form__white-link:hover {
	color: #e31720;
}

.download-catalog-form__input-header {
	color: #fff;
}